
.icon-basket-1:before { content: '\e800'; } /* '' */
.icon-star-1:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-export-outline:before { content: '\e804'; } /* '' */
.icon-right-open-big:before { content: '\e805'; } /* '' */
.icon-left-open-big:before { content: '\e806'; } /* '' */
.icon-rocket:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-up-open-big:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */