* {
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
}
.color, .categorias {
    color: #FE696A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.color:hover {
    color: #4b566b;
    text-decoration: none;
}
.categorias:hover {
    color: #4b566b;
    text-decoration: none;
}
.barra-menu{
    min-height: 80px;
}
.fz-icon {
    font-size: 20px;
}
.badge-danger {
    font-size: 8px;
    line-height: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 16px;
}
.precio {
    font-size: 10px;
    line-height: 10px;
}
.p-wish {
    font-size: 10px;
    line-height: 10px;
}
.p-sign-in {
    font-size: 10px;
    line-height: 10px;
}
/* -----------Carousel base class------------- */
  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 48px;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
.carousel-item {
    /* height: auto; */
  }
.carousel-item > img {
    /* position: absolute;
    top: 0;
    left: 0; */
    /* min-width: 100%; */
    /* max-height: 650px; */
    /* max-width: 100%; */
    height: auto;
    
  }
.btn-slider {
    background: #fe696a;
    border-color: #fe3638;
    color: #fff;
    padding: 10px 22px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
  }  
.btn-slider:hover {
    background-color: #fe4344;
    border-color: #fe3638;
    opacity: .9;
  }
  .carousel-indicators li {
      width: 5px;
      height: 5px;
      border-radius: 50%;
  }
  /*------- Cards-------------- */
    .z {
      /* position: absolute; */
      margin-top: -80px;
      z-index: 10;
    }
    .box-shadow {
     box-shadow: 0 4px 24px -6px rgba(0,0,0,0.1); 
    }
    .container-sm {
        max-width: 850px;
    }
    /* -------Productos----------- */
    .trending {
        font-size: 28px;
        margin-bottom: 80px;
        font-weight: 500;
        line-height: 19px;
        color: #373f50;
    }
    .corazon {
        position: absolute;
        top: 15px;
        right: 10px;
        z-index: 15;
        background: #f2f2f2;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        line-height: 36px;
        padding: 0;
        display: inline-block;
        text-align: center;
        border: 0;
        color: rgba(0, 0, 0, .8)
    }
    .corazon:hover {
        border: 0 !important;
        color: #fe3638;
        background: #f2f2f2;
    }
    .corazon:focus {
        box-shadow: none !important;
    }
    .corazon:active {
        background: #f2f5f9 !important;
        border: 0 !important;
        color: #fe3638 !important;
    } 
    .card-subtitle {
        font-size: 12px;
    }
    .icon-star-1, .icon-star-half-alt {
        color: #fea569;
    }
    .btn-orange {
        background-color: #fe4344;
        border-color: #fe3638;
        color: #fff;
    }
    .btn-orange:hover {
        opacity: .8;
    }
    .card-subtitle:hover {
        text-decoration: none;
    }
    .card-borde:hover {
        box-shadow: 0 4px 24px -6px rgba(0,0,0,0.1); 
    }
    .btn-outline-primary {
        color: #4e54c8;
        background-color: #fff;
        border: 1px solid #4e54c8;
        border-radius: 5px;
        font-size: 15px;
        padding: 10px 22px;
    }
    .btn-outline-primary:hover {
        color: #fff;
        background-color: #4e54c8;
        transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out,box-shadow 0.2s ease-in-out;
    }
    /* -----------------Banner------------------------ */
    .btn-shadow {
        background-color: #fe4344;
        border-color: #fe3638;
        color: #fff;
        box-shadow: 0 8px 18px -8px rgba(254,105,106,0.9);
    }
    .btn-shadow:hover {
        box-shadow: none;
        background-color: #fe4344;
        border-color: #fe3638;
        color: #fff;
    }
    .font-size-lg {
        font-size: 18px;
        font-weight: 300;
        line-height: 21.6px; 
    }
    .fz-h3 {
        font-size: 28px;
        font-weight: 500;
        line-height: 33.6px; 
    }
    
    .bg-banner {
        background-image: url(img/banner-bg-1.jpg);;
    }
    .h5-fz {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px; 
    }
    .p-fz {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px; 
    }
    /*--------- Hoodie ------------*/
    .bg-light-custom {
        background: #e2e9ef;
        padding: 0 3px;
    }
    .absolute {
        position: absolute;
        top: 15px;
        right: 25px;
    }
    .card-title-card-sm {
        font-size: 14px;
        font-weight: 500;
    }
    .card-subtitle-sm{
        font-size: 12px;
    }
    .card-body-sm {
        padding: 6px 3px;
    }
    .icon-star-1-sm{
        font-size: 11px;
        color: #fea569;
    }
    .card-title-card-lg {
        font-size: 28px;
        line-height: 33.6px;
        font-weight: 500;
    }
    .subtitle-card-lg5 {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        color: #fe3638;
        text-decoration: none;
    }
    .subtitle-card-lg5:hover {
        text-decoration: none;
        color: #fe3638;
        opacity: .5;
    }
    .btn-light-hoodie {   
        width: 36px;
        height: 36px;
        font-size: 10.58px;
        line-height: 36px;
        color: #000;
        text-align: center;
        background: #fff;
        display: inline-block;
        text-decoration: none;
        border-radius: 100px;
        transition: all .3s ease;
        padding: 0;
    }
    .btn-light-hoodie:hover {
        background: #fff;
    }
    /* --------------Brands------------- */
 .box-shadow-sm {
     box-shadow: 0 2px 4.8px -1px rgba(0,0,0,0.03),0 4.4px 12px -1px rgba(0,0,0,0.06);
 } 
 .mb-grid-gutter {
     margin-bottom: 30px;
 } 
 /*------------- Follow-----------------*/
 .section-fbk {
     background: #D1F5FF;
 }
 .section-instagram {
    background: #edeef9;
}
.icon-insta {
    color: #7176D3;
}
 .fz-text-follow {
     font-size: 20px;
     line-height: 24px;
     font-weight: 500;
     color: #000;
 }
 .a-follow:hover {
     text-decoration: none;
 }
 .fz-p-follow {
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
     color: #000;
 }
 /* ---------Footer list---------------- */
 .container-lg {
     max-width: 1260px;
 }
 .h3-list{
    font-size: 17px;
    line-height: 20.4px;
    font-weight: 500;
    color: #fff;
 }
 .ul-list {
    list-style: none;
    padding-left: 0;
 }
 .li-list {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding-bottom: 6px;
 }
 .li-list a {
     color: #f2f2f2;
     opacity: .7;
     text-align: left;
 }
 .li-list a:hover {
    text-decoration: none;
    color: #fff;
    opacity: 1;
 }
 .bg-dark-1 {
     background: #373F50;
 }
 .p-list {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding-bottom: 6px;
    color: #f2f2f2;
     opacity: .7;
     text-align: left; 
 }
 
 .fz-btn-append {
     padding: .625rem 1.375rem !important;
     font-size: .9375rem !important;
     height: 44px;
 }
 .form-control {
     font-size: 15px;
     height: 44px !important;
 }
 .fz-google {
     font-size: 11px;
 }
 .fz-app-store {
     font-size: 16px;
     color: #fff;
 }
.btn-dark-1 {
    background: #2b3445;
}
.btn-dark-1:hover {
    opacity: .8;
}
.bg-dark-2 {
 background: #2b3445;
}
.p-list-1 {
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    padding-bottom: 6px;
    color: #f2f2f2;
    opacity: .7;
    text-align: left; 
 }
 .p-list:hover {
     color: #fff;
     opacity: .9;
     text-decoration: none;
 }
 ul {
     list-style: none;
 }
 
.icon-redes-footer {
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    color: #fff;
    background: #3c4454;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s ease;
}
.icon-redes-footer:hover {
    background: #fff;
}

 .rrss-fbk:hover {color: #3b5998;}
 .rrss-ins:hover {color: #5851db;}
 .rrss-twi:hover {color: #1da1f2;}
 .rrss-you:hover {color: #ff0000;}
 .rrss-wat:hover {color: #25d366;}




 


/* -------MEDIAQUERIES--------- */
@media screen and (max-width:1199px) {
    .badge-danger {
        right: 9px;
    }
    .container-sm {
        max-width: 750px;
    }
    .carousel-item > img {
       min-height: 550px;
    }
}
@media screen and (max-width:991px) {
    .badge-danger {
       position: static;
       padding: 0;
    }
    .carousel-item > img {
       min-height: 480px;
    }
    .caja1, .caja2, .caja3 {
        min-height: 80px;
    }
    .caja3 {
        position:fixed;
        bottom:0;
        left: 0;
        z-index:100;
        background: #F8F9FA;
    }
    .color {
        border-left: 1px solid #e3e9ef;
    }
    .fondo {
        background-image: url(img/banner-bg-1.jpg);
        background-repeat: repeat-x;
    }
    .container-sm {
        max-width: 600px;
    }
    .bg-dark-2 {
        margin-bottom: 56px;
    }
    .text-center-custom-less-lg{
        text-align: center;
    }
}
@media screen and (max-width:767px) {
    .carousel-item > img {
        min-height: 400px;
    }
    .btn-slider {
        padding: 7px;
        font-size: 14px;
    }
    .texto-h1{
        font-size: 24px;
    }
    .p-over-btn{
        font-size: 14px !important;
    }
    .img-slider-6 {
        /* width: auto; */
        /* height: 100%; */
    }
}
@media screen and (max-width:575px) {
    .carousel-item > img {
       min-height: 350px;
    }
    .carousel-caption {
        width: 50%;
        left: 10%;
    }
    .texto-h1 {
        font-size: 20px;
    }
    .p-over-btn {
        font-size: 13px !important;
    }
    .btn-slider {
        padding: 6px;
        font-size: 13px;
    }
    .z {
        position: relative;
        margin-top: 0;
      }
    .men-card {
        margin-top: 10px;
    }  
    .card {
        margin-bottom: 0 !important;
    } 
    .box-shadow {
        box-shadow: none; 
    }
    .box-shadow-card {
        box-shadow: 0 4px 24px -6px rgba(0,0,0,0.1); 
       }
    .margin-moviles {
        margin-bottom: 20px;
    }  
    .mr-custom-li {
        margin-right: 8px !important;
    }  
   
}

/* RESPONSIVE CSS CAROUSEL
-------------------------------------------------- */

@media (min-width: 640px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 33.6px;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 992px) {
    .featurette-heading {
      margin-top: 112px;
    }
  }
  .bd-placeholder-img {
    background: #777; 
    color: #777;
  }
  /*---------- Test Barra CSS --------------*/
  a { 
    color: #4b566b; 
}
a:hover {
    color: #fe696a;
    text-decoration: none;
}
/*--------- Header -------------*/
header {
    background: #fff;
    padding: 10px 0;
}
.input-buscar {
    width: 100%;
    background: #fff;
    border: 1px solid #dae1e7;
    font-size: 15px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px 0 0 5px;
    color: #6d6d6d;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    border-right: 0;
}
.btn-search {
    width: 100%;
    background: #fff;
    border: 1px solid #dae1e7;
    border-left: 0;
    font-size: 15px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 5px 5px 0;
    color: #6d6d6d;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
.btn-search:hover {
    background: #fe696a;
    color: #fff;
}
.icon-search {
    font-size: 12px;
}
.menu {
    padding: 0;
}
.menu a {
    color: #4b566b;
    text-decoration: none;
}
.menu a:hover {
    color: #fe696a;
}






/*------ MEDIA------------- */
@media screen and (max-width:1199px){}
@media screen and (max-width:991px) {
    .menu {
        position:fixed;
        bottom:0;
        left: 0;
        z-index:98;
        background: #F8F9FA;
        height: 56px;
        border-top: 1px solid #e3e9ef;
        box-shadow: -20px 0 32px 0 rgba(43,52,69,0.15);
    }
    .menu a {
        border-left: 2px solid #e3e9ef;
        line-height: 36px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .buscar {
        padding-top: 15px;
    }
    .fondo-enlace {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        cursor: pointer;
        background: rgba(0, 0, 0, .5);
        z-index: 99;
        display: none;
    }
    .fondo-enlace.active {
        display: block;
    }
    .barra-lateral-izquierda {
        width: 75%;
        position: fixed;
        z-index: 100;
        left: 0;
        background: rgba(0,0,0,0.90);
        height: 100vh;
        top: 0;
        margin: 0;
        padding: 0;
        transform: translateX(-100%);
        transition: all .3s ease;
        overflow: scroll;
    }
    .barra-lateral-izquierda.active {
        transform: translateX(0%);
    }
    .barra-lateral-izquierda a {
        padding: 20px;
        color: rgba(255, 255, 255, 0.8)
    }
    .barra-lateral-izquierda a:hover {
        background: #f2f2f2;
        color: #fe696a;
    }
}
@media screen and (max-width:767px){}
@media screen and (max-width:575px){}
/* ------ Iphone 5 5s ----------- */
@media screen and (max-width:340px) {
    .input-buscar {
        padding-right: 5px;
    }
}
